@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

/* Variables */
:root {
  /*primary*/
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /*neutral*/
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  /* put default font size at 10px */
  font-size: 62.5%;
  height: 100vh;
  background-color: var(--cream);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.product-previev-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 35rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 100;
}

.product-picture img {
  border-radius: 10px 10px 0 0;
}

.product-text-container {
  width: 85%;
  margin: auto;
  margin-top: 2.8rem;
  margin-bottom: 2.5rem;
  font-family: Montserrat;
}

.product-category {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--dark-grayish-blue);
}

.product-name {
  font-family: Fraunces;
  font-size: 3rem;
  margin-top: 2.5rem;
  font-weight: 700;
}

.product-description {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
}

.product-prices {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
}

.current-price {
  font-family: Fraunces;
  font-size: 3rem;
  color: var(--dark-cyan);
  margin-right: 2rem;
}

.old-price {
  text-decoration: line-through;
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
}
.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  color: white;
  width: 100%;
  margin-top: 2.5rem;
  padding: 1.4em;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}

.add-to-cart-button:active {
  background-color: var(--very-dark-blue);
}

.shopping-cart-icon {
  height: 1.6rem;
  width: 1.6rem;
}
.Add-to-cart-button-text {
  font-weight: 700;
  margin-left: 1.6rem;
}
.attribution {
  position: absolute;
  bottom: 10px;
  display: block;
  font-size: 11px;
  text-align: center;
  z-index: 1;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 620px) {
  .product-previev-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60rem;
  }

  .product-picture img {
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }
}
